.templates {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.templates,
.templates:before,
.templates:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 300 1em/1.5 "Open Sans", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.templates {
  margin-top: 2rem;
  margin-left: -23rem;
}

.templates .fade section .container {
  min-width: 500px;
  margin: 10% auto;
  text-align: center;
}
.templates a:hover {
  border-bottom: 1px solid rgb(83, 81, 81);
}
.templates h1 {
  font-size: 2em;
  padding: 20px 0;
}
.templates p {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0;
}

.templates button:hover {
  cursor: pointer;
}
.templates button {
  background: transparent;
  outline: none;
  position: center;
  border: 2px solid #49dcb1;
  padding: 15px 50px;
  overflow: hidden;
  border-radius: 10%;
}
.templates .overlay .container {
  text-align: center;
  margin-top: 30%;
  margin-left: 20%;
}

/*button:before (attr data-hover)*/
.templates button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
.templates button:before {
  margin-top: 47px;
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8rem;
  opacity: 0;
  transform: translate(-10%, 0);
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
  color: #49dcb1;
}
/*button div (button text before hover)*/
.templates button:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
.templates button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8rem;
  color: #49dcb1;
  transition: all 0.3s ease-in-out;
}
/* Slideshow container */
.templates .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.templates .mySlides .container > img {
  margin-right: auto;
  margin-left: -55px;
  margin-bottom: auto;
  height: 450px;
  width: 900px;
}
/* Hide the images by default */
.templates .mySlides {
  display: none;
}

/* Next & previous buttons */
.templates .prev,
.templates .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;

  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 6;
  margin-left: 160px;
}

/* Position the "next button" to the right */
.templates .next {
  right: 0;
  margin-right: -200px;
  border-radius: 3px 0 0 3px;
}

.templates .prev:hover,
.templates .next:hover {
  background-color: rgba(82, 69, 69, 0.87);
}

/* Caption text */
.templates .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.templates .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.templates .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.templates .dotsection {
  margin-left: 20%;
}
.templates .active,
.templates .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.templates .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.templates .container {
  position: relative;
  width: 50%;
}

.templates .image {
  display: block;
  width: 100%;
  height: auto;
}

.templates .overlay {
  position: absolute;
  top: -7.3rem;
  bottom: 0;
  left: -43px;
  right: 100%;
  background-color: #59595e;
  overflow: hidden;
  width: 0;
  height: 28.2rem;
  transition: 0.7s ease;
  z-index: -2;
}
.templates .overlay .container .down {
  position: absolute;
  top: 1rem;

  left: 2.5rem;
  right: 0%;
  text-align: center;
  width: 0;
  height: 28.2rem;
  transition: 0.9s ease;
  z-index: 0;
}

.templates .container:hover .overlay {
  width: 65%;
  left: -43px;
  height: 28.2rem;
  top: -7.3rem;
}
.templates .container:hover .down {
  width: 10rem;
  left: -0.75rem;
  top: 10rem;
  height: 28.2rem;
}
.templates .container .down h2 {
  top: -2.5rem;

  text-align: center;
}
.templates .container:hover .down h2 {
  top: -2.5rem;
  left: 20px;
}

.templates .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.templates .container:hover .image {
  opacity: 0.09;
}

.templates .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 6;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
