@charset "utf-8";
/* CSS Document */

/*--------------------------------------all------------------------------------*/
*{margin: 0px;padding:0px; font-family:'Lato', sans-serif}
a {text-decoration: none}
ul li {list-style-type: none}
.container{width: 85%; margin: 0 auto}


.title {
	width: 70%;
	margin: 30px auto;
	padding: 20px 0px;
	text-align: center;
}
.title h3{
	color: #5451C1;
	font-size: 17px;
	line-height: 40px;
}
.title h2{
	font-size: 28px;
	color: #434964;
}
.title span{
	color: #5451C1;
	
}




/*--------------------------------started-header-------------------------------*/
* {
	margin: 0px;
	padding: 0px;
  
	font-family: "Lato", sans-serif;
  }
  
  a {
	text-decoration: none;
  }
  ul {
	margin-top: -1rem;
  }
  ul li {
	list-style-type: none;
  }
  .container {
	width: 85%;
	margin: 0 auto;
  }
  
  .title {
	width: 70%;
	margin: 30px auto;
	padding: 20px 0px;
	text-align: center;
  }
  .title h3 {
	color: #5451c1;
	font-size: 17px;
	line-height: 40px;
  }
  .title h2 {
	font-size: 45px;
	color: #434964;
  }
  .title span {
	color: #5451c1;
  }
  
  /*--------------------------------started-header-------------------------------*/
  nav.primary-navigation {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 10px 0 0 343px;
	text-align: right;
	font-size: 16px;
  }
  nav.primary-navigation ul li {
	list-style: none;
	margin: 0 auto;
  
	display: inline-block;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	text-align: start;
  }
  nav.primary-navigation li a:hover {
	color: #49dcb1;
  }
  nav.primary-navigation .dropdown li a:hover {
	color: #5451c1;
  }
  nav.primary-navigation li a {
	color: rgb(255, 255, 255);
  }
  
  nav.primary-navigation li:hover {
	cursor: pointer;
  }
  nav.primary-navigation ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 35px;
	margin-left: -15px;
	left: 0;
	display: none;
	background: #49dcb1;
  }
  nav.primary-navigation ul li:hover > ul,
  nav.primary-navigation ul li ul:hover {
	visibility: visible;
	opacity: 2;
	display: block;
	min-width: 250px;
	text-align: left;
	padding-top: 20px;
	box-shadow: 0px 3px 5px -1px #49dcb1;
	z-index: 10;
  }
  nav.primary-navigation ul li ul li {
	clear: both;
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
	border-style: none;
  }
  nav.primary-navigation ul li ul li a:hover {
	padding-left: 40px;
	margin-left: -5px;
  
	border-left: 2px solid #5451c1;
	transition: all 0.5s ease;
  }
  
  a {
	text-decoration: none;
  }
  a:hover {
	color: #5451c1;
  }
  
  ul li ul li a {
	transition: all 0.5s ease;
  }
  header {
	background-color: #5451c1;
	position: fixed;
	width: 100%;
	height: 90px;
	z-index: 9;
  }
  
  /**************start head**************/
  header .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  /**************start logo**************/
  header .head .logo > img {
	padding: 0px 5px 0px 0px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
  }
  
  /**************start list**************/
  header .head .list ul li {
	display: inline-block;
	padding-right: 3rem;
  }
  header .head .list ul li a {
	color: #fff;
	font-size: 14.5px;
	font-weight: 600;
	letter-spacing: 1px;
  }
  
  header .head .list ul li a i {
	vertical-align: middle;
	font-size: 10px;
	padding-left: 2px;
	color: #b3b3b3;
  }
  
  header .container .head .primary-navigation ul li.get_btn a {
	background-color: transparent;
	border: solid 2px #49dcb1;
	border-radius: 30px;
	padding: 10px 30px;
  }
  header .container .head .primary-navigation ul li.get_btn a:hover  {
	background-color:#49dcb1;
	color:  #ffffff;
	transition-duration: 0.5s;
  }
 
  
/*-----------------------------------end-header-------------------------------*/
/*--------------------------------start footer-------------------------------*/
footer {

	background-image: url(../img/backg/footer-bg.png);
	background-size: 100%;
	background-color: #F6F6FC;
	width: 100%;
	background-repeat: no-repeat;
	text-align: center;
	
}

footer .subscribe {
	margin-top: 80px;
	display: inline-block;
	
/*
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%,-100%);
*/
	box-shadow: 0px -2px 5px #c7c7c7;
	width: 650px;
	height: 180px;
	background-color: #FFFFFF;
	border-radius: 200px;
	
	
}

footer .subscribe h2 {
	color: #434964;
	padding: 25px 0px;
	
	
	
}

footer .subscribe input[type="email"] {
	width: 60%;
	height: 50px;
	border: none;
	padding-left: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: #F6F6FC;
	outline: none;
	font-weight: 600;
	
	
	
}

footer .subscribe input[type="button"] {
	width: 20%;
	height: 50px;
	border: none;
	border-radius: 30px;
	background-color: #5451C1;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	margin-left: -25px;
	outline: none;

	
}

footer .all {
	background-color: #5451C1;
	padding-bottom: 30px;
}

footer .container .list_footer {
	
	display: flex;
	justify-content: space-between;
	
	
}




footer .container .list_footer .lists_footer {
	text-align: justify;
	width: 20%;
	padding-top: 30px;
	
}

footer .container .list_footer .lists_footer .logo img{
	padding: 20px 0px 10px;
	width: 50%;
	
}


footer .container .list_footer .lists_footer .logo p{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 30px;
	
}

footer .container .list_footer .lists_footer .logo ul {
	margin-top: 20px;
	
}
footer .container .list_footer .lists_footer .logo ul li{
	text-align: center;
	display: inline-block;
	margin: 5px;
	
}

footer .container .list_footer .lists_footer .logo ul li a{
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid #fff;
	color: #FFFFFF;
	border-radius: 50%;
	font-size: 16px;
	
}

footer .container .list_footer .lists_footer .logo ul li i{
	margin-top: 9px;
	margin-left: 5px;
	
}


footer .container .list_footer .lists_footer h2 {
	color: #FFFFFF;
	padding: 30px 0px 20px;
	font-size: 22px;
}

footer .container .list_footer .lists_footer ul li {
	margin: 10px 0px;
	font-size: 14px;
	color: #FFFFFF;
	
	line-height: 25px;
}



footer .container .list_footer .lists_footer ul li a{
	font-size: 14px;
	color: #FFFFFF;
	
}


footer .container .list_footer .lists_footer ul li a i{
	margin-right: 5px;
	
}
footer .container .list_footer .lists_footer span{
	font-weight: 600;
	font-size: 15px;
	
	
} 




footer .copy_right {
	background-color: #4A47AA;
	overflow: hidden;
	height: 50px;
	
	
}

footer .copy_right p {
	float: left;
	color:#FFFFFF;
	font-size: 13px;
	font-weight: 600;
	margin-top: 20px;
}

footer .copy_right ul {
	float: right;
	margin-top: 16px;
}

footer .copy_right ul li {
	display: inline-block;
	color:#FFFFFF;
	margin-left: 15px;
}

footer .copy_right ul li a {
	font-size: 13px;
	font-weight: 600;
	color:#FFFFFF;
	
}
footer .container .list_footer .lists_footer .logo ul :nth-child(1) a:hover {
	background-color: #ffffff;
	color: #5451c1;
	transition-duration: 00.3s;
  }
  footer .container .list_footer .lists_footer .logo ul :nth-child(2) a:hover {
	border-radius: 40px;
	background-color: #fff;
	color: #d6249f;
	transition-duration: 00.3s;
  }
